@page "/AddUser"
@inherits BaseComponent;

<!--
  This example requires Tailwind CSS v2.0+ 

  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ]
  }
  ```
-->
<EditForm Model="@UserVM" OnValidSubmit="@HandleValidSubmit" class="space-y-8 divide-y divide-gray-200">
  <DataAnnotationsValidator />
    <div class="space-y-8 divide-y divide-gray-200">
      <div class="pt-8">
        <div>
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            Personal Information
          </h3>
          <p class="mt-1 text-sm text-gray-500">
            Please input the user's information.
          </p>
        </div>
        <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
          <div class="sm:col-span-3">
            <label for="first_name" class="block text-sm font-medium text-gray-700">
              First Name
            </label>
            <div class="mt-1">
              <InputText name="first_name" type="text" id="first_name" @bind-Value="UserVM.FirstName" autocomplete="given-name"
                class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" />
            </div>

          </div>

          <div class="sm:col-span-3">
            <label for="last_name" class="block text-sm font-medium text-gray-700">
              Last Name
            </label>
            <div class="mt-1">
              <InputText type="text" @bind-Value="UserVM.LastName" id="last_name" autocomplete="family-name"
                class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" />
            </div>
          </div>

          <div class="sm:col-span-4">
            <label for="email" class="block text-sm font-medium text-gray-700">
              Email Address
            </label>
            <div class="mt-1">
              <InputText @bind-Value="UserVM.EmailAddress" id="email" name="email" type="email" autocomplete="email"
                class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" />
            </div>
          </div>
          <div class="sm:col-span-2">
            <label for="jobtitle" class="block text-sm font-medium text-gray-700">
              Job Title
            </label>
            <div class="mt-1">
              <InputText @bind-Value="UserVM.JobTitle" id="jobtitle" name="jobtitle" type="text"
                class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" />
            </div>
          </div>
            <div class="sm:col-span-3">
              <label for="phone" class="block text-sm font-medium text-gray-700">
                Work Phone Number
              </label>
              <div class="mt-1">
                <InputText @bind-Value="UserVM.WorkPhone" id="phone" name="phone" type="text" autocomplete="tel-national"
                  class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" />
              </div>
            </div>
           @*  <div class="sm:col-span-1">
              <label for="phoneExt" class="block text-sm font-medium text-gray-700">
                Extension
              </label>
               <div class="mt-1">
                <InputText @bind-Value="User.WorkPhone" id="phoneExt" name="phoneExt" type="text" autocomplete="tel-extension"
                  class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" />
              </div> *@
          <div class="sm:col-span-3">
            <label for="agency_name" class="block text-sm font-medium text-gray-700">
              Agency Name
            </label>
            <div class="mt-1">
              <InputText type="text" @bind-Value="UserVM.AgencyName" name="agency_name" id="agency_name" 
                class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" />
            </div>
          </div>

          <div class="sm:col-span-3">
            <label for="street_address" class="block text-sm font-medium text-gray-700">
              Agency Street Address
            </label>
            <div class="mt-1">
              <InputText type="text" @bind-Value="UserVM.AgencyAddress" name="street_address" id="street_address" autocomplete="street-address"
                class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" />
            </div>
          </div>

          <div class="sm:col-span-2">
            <label for="city" class="block text-sm font-medium text-gray-700">
              Agency City
            </label>
            <div class="mt-1">
              <InputText type="text" @bind-Value="UserVM.AgencyCity" name="city" id="city"
                class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" />
            </div>
          </div>

          <div class="sm:col-span-2">
            <label for="zip" class="block text-sm font-medium text-gray-700">
              Agency ZIP Code
            </label>
            <div class="mt-1">
              <InputText type="text" @bind-Value="@UserVM.AgencyZipCode" name="zip" id="zip" autocomplete="postal-code"
                class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" />
            </div>
            <ValidationMessage For="@(() => UserVM.AgencyZipCode)" class="text-red-700"/>
          </div>
          <div class="sm:col-span-6">
            <label for="about" class="block text-sm font-medium text-gray-700">
              Comments
            </label>
            <div class="mt-1">
              <InputTextArea id="about" @bind-Value="@UserVM.Comments" name="about" rows="3" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" />
            </div>
            <p class="mt-2 text-sm text-gray-500">Please include any additional information here.</p>
          </div> 
        </div>
      </div>
    </div>

      <div class="pt-8">
        <div>
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            User Role
          </h3>
          <p class="mt-1 text-sm text-gray-500">
            Please select a role within the application.
          </p>
        </div>
        <div class="mt-6">
          <fieldset>
            <legend class="sr-only">
              Select User Role
            </legend>

            <div x-data="{ active : null }" class="bg-white rounded-md -space-y-px">
              @foreach (var role in Roles)
              {
              <!-- On: "bg-indigo-50 border-indigo-200 z-10", Off: "border-gray-200" -->
              <div
                  :class="{'bg-indigo-50 border-indigo-200 z-10': active == 0, 'border-gray-200': active != 0 }" class="relative border rounded-tl-md rounded-tr-md p-4 flex">
                <div class="flex items-center h-5">
                  <input id="settings-option-0" @click="active = 0"
                  :aria-checked="active == 0" name="privacy_setting" type="radio" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 cursor-pointer border-gray-300">
                </div>
                <label for="settings-option-0" class="ml-3 flex flex-col cursor-pointer">
                  <!-- On: "text-indigo-900", Off: "text-gray-900" -->
                  <span class="block text-sm font-medium" :class="{'text-indigo-900': active == 0, 'text-gray-900': active != 0 }" >
                    @role.RoleName
                  </span>
                  <!-- On: "text-indigo-700", Off: "text-gray-500" -->
                  <span class="block text-sm" :class="{'text-indigo-700': active == 0, 'text-gray-500': active != 0 }">
                    This project would be available to anyone who has the link
                  </span>
                </label>
              </div>
              }
            </div>
          </fieldset>
        </div>
      </div>
    <div class="pt-5">
      <div class="flex justify-end">
        <button type="button"
          class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Cancel
        </button>
        <button type="submit"
          class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          Save
        </button>
      </div>
    </div>
</EditForm>

@code {
  private UserViewModel UserVM = new UserViewModel();

  private IEnumerable<RolesViewModel> Roles;

        protected override async Task OnInitializedAsync()
    {
        InitDependencies();
        Roles = await GetRolesAsync(Roles);
    }

  private async void HandleValidSubmit()
  {
    await AddUserAsync(UserVM);
  }
}